body {
background-color: rgb(52, 67, 153);
color: rgb(15, 8, 124);

font-family: "Fugaz One", sans-serif;
margin: 0px;

}

header {
font-size: 50px;
text-align: center;
border-bottom:dashed 5px blueviolet;
padding: 30px;
color: rgb(232, 136, 232);
}

h1 {
font-size: 30px;
padding-left: 30px;
}

p {
font-size: 20px;
padding-left: 30px;
}