body {
background-color: rgb(87, 99, 204);
color: rgb(63, 97, 189);

font-family: "Fugaz One", sans-serif;
margin: 0px;

}

header {
font-size: 50px;
text-align: center;
border-bottom:dashed 5px rgb(45, 103, 209);
padding: 30px;
color: rgb(141, 100, 238);
}

h1 {
font-size: 30px;
padding-left: 30px;
}

p {
font-size: 20px;
padding-left: 30px;
}